APPDATA=/mnt/vault/apps/paperless/data
CONSUME_PATH=/mnt/tank/paperless/consume
EXPORT_PATH=/mnt/tank/paperless/export
TZ=Europe/Madrid
PUID=3000
PGID=3000
CONTAINER_IP=10.0.30.2X   # rango docker-main: .26–.41
OCR_LANG=spa+eng
ADMIN_USER=admin
ADMIN_PASS=
DB_PASS=
# Generar con: openssl rand -hex 32
SECRET_KEY=
