APPDATA=/mnt/vault/apps/authentik/data
TZ=Europe/Madrid
AUTHENTIK_TAG=2024.10.5

# Generar con: openssl rand -hex 32
SECRET_KEY=

# Generar con: openssl rand -base64 24
PG_PASS=

# Host: docker en pve-router (VLAN 10) — IP 10.0.10.12
