APPDATA=/mnt/vault/apps/romm/data
ROMS_PATH=/mnt/tank/media/games/roms
TZ=Europe/Madrid
CONTAINER_IP=10.0.30.47   # rango docker-aux: .42–.57
DB_PASS=
DB_ROOT_PASS=
# Generar con: openssl rand -hex 32
SECRET_KEY=
# Obtener en: https://api.igdb.com
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
