APPDATA=/mnt/vault/apps/pterodactyl/data
TZ=Europe/Madrid
CONTAINER_IP=10.0.30.48   # rango docker-aux: .42–.57
DB_PASS=
DB_ROOT_PASS=
# Generar con: php artisan key:generate --show (o openssl rand -base64 32)
APP_KEY=
